<div class="weather-widget" [ngClass]="{'night' : !day}">
  <!-- Clima atual -->
  <div class="current-weather">
    <div class="current-info">
      <div class="current-temp">{{ currentWeather.temp }}°C</div>
      <div class="current-desc">{{ currentWeather.description }}</div>
      <div class="current-city">{{ currentWeather.city }}</div>
    </div>
    <img [src]="getIcon(currentWeather.icon)" class="current-icon" alt="ícone clima atual" />
  </div>

  <!-- Previsão dos próximos dias -->
  <!-- <div class="forecast">
    <div class="forecast-day" *ngFor="let day of forecast">
      <div class="day-label">{{ day.day }}</div>
      <img [src]="getIcon(day.icon)" class="day-icon" [alt]="day.icon" />
      <div class="day-temp">{{ day.min }}° / {{ day.max }}°</div>
    </div>
  </div> -->
</div>