/* Container geral do widget */

.weather-widget {
  /* bg-gray-900 */
  /* 1rem = 16px */
  /* 1rem = 16px */
  /* 22rem = 352px */
  background-color: #ffffff;
  color: #ffffff;
  padding: 16px;
  // border-radius: 2px; 
  // max-width: 352px; 
  margin: 0 auto;
  box-shadow: 2px 2px 5px #00000080;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: solid #000;
  border-bottom: none;

  &.night {
    background: #060218;
    color: #fff
  }
}

/* Clima atual */
.current-weather {
  display: flex;
  justify-content: space-evenly;
  /* Centraliza horizontalmente */
  align-items: center;
  /* Centraliza verticalmente */
  // gap: 150px;
  /* Espaçamento controlado entre os itens */
  margin-bottom: 16px;
  flex-wrap: wrap;
  /* Permite quebrar em telas menores */
  text-align: center;
  /* Centraliza o texto se necessário */
}

// --- versão antiga css do componente --- ///
// .current-weather {
//   /* 1rem = 16px */
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   margin-bottom: 16px; 
// }

.current-info {
  display: flex;
  flex-direction: column;
}

.current-temp {
  /* 2.5rem = 40px */
  /* vermelho militar */
  font-size: 40px;
  font-weight: bold;
  color: #B1272A;
}

.current-desc {
  /* 0.875rem = 14px */
  /* gray-400 */
  font-size: 14px;
  color: #1f2937;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.current-city {
  /* 0.75rem = 12px */
  /* gray-500 */
  font-size: 12px;
  font-style: italic;
  color: #1f2937;
}

.current-icon {
  /* 4rem = 64px */
  /* 4rem = 64px */
  width: 64px;
  height: 64px;
  filter: brightness(0.9) contrast(1.1);
}

/* Previsão dos dias seguintes */
// .forecast {
//   /* 0.5rem = 8px */
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   gap: 8px; 
// }

// .forecast-day {
//   /* gray-800 */
//   /* 0.75rem = 12px */
//   /* 0.5rem = 8px */
//   background-color: #374151; 
//   border: 1px solid rgba(255, 255, 255, 0.05);
//   border-radius: 12px; 
//   padding: 8px; 
//   text-align: center;
// }

// .day-label {
//   /* 0.875rem = 14px */
//   /* gray-300 */
//   font-size: 14px; 
//   font-weight: 600;
//   color: #d1d5db;
// }

// .day-icon {
//   /* 2rem = 32px */
//   /* 2rem = 32px */
//   /* 0.25rem = 4px */
//   width: 32px; 
//   height: 32px; 
//   margin: 4px 0; 
// }

// .day-temp {
//   /* 0.75rem = 12px */
//   /* gray-400 */
//   font-size: 12px; 
//   color: #9ca3af;
// }ontainer geral do widget */

.weather-widget {
  &.night {
    background: #1C2331;

    .current-info,
    .current-temp,
    .current-desc,
    .current-city,
    .current-icon {
      color: #fff
    }
  }
}