<ion-content [fullscreen]="true">
  <div class="page-layout">
    <div class="player">
      <button class="btn-play" id="playPauseBtn" (click)="handleClick()">
        <i class="mdi mdi-play" *ngIf="!isPlaying"></i>
        <i class="mdi mdi-pause" *ngIf="isPlaying"></i>
      </button>

      <div class="progress-container">
        <div class="progress-bar" (click)="handleClickProgress($event)">
          <div class="progress-fill" id="progressFill" [ngStyle]="{width: percent+'%'}"></div>
        </div>
        <div class="progress-time">
          <span id="currentTime">{{this.currentTime | time}}</span>
          <span id="totalTime">{{this.duration | time}}</span>
        </div>
      </div>
    </div>
    <div class="inline">
      <div class="map-section">
        <div id="mapViewer"></div>
      </div>
      <div class="map-section">
        <div class="inline">
          <div class="card">
            <h4 class="card-title">{{i18n.lang.ROUTE}}<br><small>{{route?.name || '-'}}</small></h4>
          </div>
          <div class="card">
            <h4 class="card-title">{{i18n.lang.CATEGORY}}<br>
              <select name="_category" [(ngModel)]="_category" (change)="filterCategory()">
                <option [value]="''">Todos</option>
                <ng-template ngFor let-it [ngForOf]="route?.categories || []">
                  <option [value]="it._id">{{it.name}}</option>
                </ng-template>
              </select>
            </h4>
          </div>
        </div>
        <div class="inline">
          <div class="card">
            <h4 class="card-title">{{i18n.lang.DIST}}<br><small>{{route?.dist || '-'}}</small></h4>
          </div>
          <div class="card">
            <h4 class="card-title">{{i18n.lang.CLIMB}}<br><small>{{route?.climb || '-'}}</small></h4>
          </div>
          <div class="card">
            <h4 class="card-title">{{i18n.lang.N_SUBS}}<br><small>{{ranking?.length || '-'}}</small></h4>
          </div>
        </div>
        <table class="table dataTable">
          <tbody>
            <tr>
              <th>Pos</th>
              <th>Category</th>
              <th>Name</th>
              <th>Time</th>
              <th>Ult. Base</th>
            </tr>
            <ng-template ngFor let-it [ngForOf]="ranking">
              <tr>
                <td>{{it.race_pos || '-'}}</td>
                <td>{{obj_categories[it._category]?.name||'-'}}</td>
                <td>{{it.name}}</td>
                <td>{{it.ult_time | time}}</td>
                <td>{{it.ult_base || '-'}}</td>
              </tr>
            </ng-template>
          </tbody>
        </table>
        <div class="card">
          <h4 class="card-title">
            Posição de Prova
          </h4>
          <div class="card-body">

            <div class="graph-place">
              <ngx-charts-line-chart [results]="data_position_race_graph" [gradient]="true" [xAxis]="true"
                [yAxis]="true" [legend]="false" [showXAxisLabel]="true" [showYAxisLabel]="true">
              </ngx-charts-line-chart>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</ion-content>