<ion-content [fullscreen]="true">
  <div class="page-layout">
    <h3 class="page-title">{{clube?.slug}} - {{clube?.name}}<br>
      <small>...</small>
    </h3>


    <div class="tabs hide-mobile">
      <div class="tabs-btns">
        <button [ngClass]="{active: tab == 'personal'}" (click)="setTab('personal')">
          <i class="mdi mdi-clipboard-text"></i> {{i18n.lang.DATA_INFO}}
        </button>
        <button [ngClass]="{active: tab == 'events'}" (click)="setTab('events')">
          <i class="mdi mdi-calendar-multiple"></i> {{i18n.lang.EVENTS}}
        </button>
        <button [ngClass]="{active: tab == 'athletes'}" (click)="setTab('athletes')">
          <i class="mdi mdi-account-group"></i> {{i18n.lang.ATHLETES}}
        </button>
      </div>
      <div class="tabs-place">
        <div class="card" *ngIf="tab == 'personal'">
          <app-club-form [_id]="_id"></app-club-form>
        </div>
        <div class="card" *ngIf="tab == 'events'">
          <div class="card-body">
            <data-table *ngIf="tableInfoEvents" [tableInfo]="tableInfoEvents" [reload]="reloadTable"
              (clickEvent)="handleTable($event)"></data-table>
          </div>
        </div>
        <div class="card" *ngIf="tab == 'athletes'">
          <div class="card-body">
            <data-table *ngIf="tableInfoAthletes" [tableInfo]="tableInfoAthletes" [reload]="reloadTable"
              (clickEvent)="handleTable($event)"></data-table>
          </div>
        </div>
      </div>
    </div>

    <ion-accordion-group class="hide-desktop" [value]="tab" (ionChange)="setTab($event)">
      <ion-accordion value="personal">
        <ion-item slot="header" color="light">
          <ion-label class="group-title">
            <i class="mdi mdi-clipboard-text"></i> {{i18n.lang.DATA_INFO}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <app-club-form [_id]="_id"></app-club-form>
        </div>
      </ion-accordion>
      <ion-accordion value="events">
        <ion-item slot="header" color="light">
          <ion-label class="group-title">
            <i class="mdi mdi-calendar-multiple"></i> {{i18n.lang.EVENTS}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <app-club-form [_id]="_id"></app-club-form>
        </div>
      </ion-accordion>
      <ion-accordion value="athletes">
        <ion-item slot="header" color="light">
          <ion-label class="group-title">
            <i class="mdi mdi-account-group"></i> {{i18n.lang.ATHLETES}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <data-table *ngIf="tableInfoAthletes" [tableInfo]="tableInfoAthletes" [reload]="reloadTable"
            (clickEvent)="handleTable($event)"></data-table>
        </div>
      </ion-accordion>
    </ion-accordion-group>

  </div>
</ion-content>