.page-layout {
    background-color: var(--ion-color-light-shade);
    padding: 0;
    width: 100%;
    height: 100%;
}

.p-relative {
    max-width: 1340px;
    width: 100%;
    height: 100%;
    background-color: var(--ion-color-light);
    position: relative;
    margin: 0 auto;
}

.top-bar {
    width: 100%;
    height: 56px;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
    padding: 4px 16px;
    z-index: 10;
    position: absolute;

    .header {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;

        .title {
            margin-top: 2px;
            margin-left: 16px;
        }

        h3,
        h4 {
            margin: 0;
            font-size: 14px;
        }

        h3 {
            font-weight: bold;
        }

        h4 {
            font-size: 12px;
        }

    }

    img {
        width: 48px;
        height: 48px;
        border: 1px solid var(--ion-color-primary-contrast);
        border-radius: 50%;

        &.selo {
            filter: grayscale(1);
        }
    }
}

.content {
    margin: 0 auto;
    text-align: center;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding-top: 56px;

    ion-button {
        margin: 16px;
        font-size: 1.5em;
    }

    input[type="file"] {
        display: none;
    }
}

.uploads {
    padding: 16px 8px;
    margin: 16px 0;
    display: inline-flex;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    background: var(--ion-color-light);

    .up-item {
        width: 50vh;
        height: 50vh;
        max-width: 400px;
        max-height: 400px;
        background: #fff;
        margin: auto;
        text-align: center;
        padding: 21px 0;
        font-size: 32px;
        border: 2px dashed #ccc;
        color: #ccc;
        cursor: pointer;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            font-size: 14px;
        }
    }
}

@media screen and (max-width:768px) {
    .uploads .up-item {

        width: calc(100% - 52px);
        height: calc(100vh - 56px - 64px);
        max-width: initial;
        max-height: initial;
    }
}