<ion-content [fullscreen]="true">
  <div class="page-layout">
    <h3 class="page-title">{{event?.name}}<br>
      <small>...</small>
    </h3>


    <div class="tabs hide-mobile">
      <div class="tabs-btns">
        <button [ngClass]="{active: tab == 'info'}" (click)="setTab('info')">
          <i class="mdi mdi-clipboard-text"></i> {{i18n.lang.DATA_INFO}}
        </button>
        <button [ngClass]="{active: tab == 'races'}" (click)="setTab('races')">
          <i class="mdi mdi-flag-checkered"></i> {{i18n.lang.EVENT_RACES}}
        </button>
        <button [ngClass]="{active: tab == 'categories'}" (click)="setTab('categories')">
          <i class="mdi mdi-clipboard-text"></i> {{i18n.lang.CATEGORIES}}
        </button>
        <button [ngClass]="{active: tab == 'routes'}" (click)="setTab('routes')">
          <i class="mdi mdi-routes"></i> {{i18n.lang.ROUTES}}
        </button>
        <button [ngClass]="{active: tab == 'subscriptions'}" (click)="setTab('subscriptions')">
          <i class="mdi mdi-account-group"></i> {{i18n.lang.SUBSCRIPTIONS}}
        </button>
        <button [ngClass]="{active: tab == 'audit'}" (click)="setTab('audit')">
          <i class="mdi mdi-playlist-check"></i> {{i18n.lang.AUDIT}}
        </button>
      </div>
      <div class="tabs-place">
        <div class="card" *ngIf="tab == 'info'">
          <app-event-form [_id]="_id"></app-event-form>
        </div>
        <div class="card" *ngIf="tab == 'races'">
          <div class="card-body">
            <data-table *ngIf="tableInfoRaces" [tableInfo]="tableInfoRaces" [reload]="reloadTable"
              (clickEvent)="handleTable($event)"></data-table>
          </div>
        </div>
        <div class="card" *ngIf="tab == 'categories'">
          <div class="card-body">
            <data-table *ngIf="tableInfoCategories" [tableInfo]="tableInfoCategories" [reload]="reloadTable"
              (clickEvent)="handleTable($event)"></data-table>
          </div>
        </div>
        <div class="card" *ngIf="tab == 'subscriptions'">
          <div class="card-body">
            <data-table *ngIf="tableInfoSubscriptions" [tableInfo]="tableInfoSubscriptions" [reload]="reloadTable"
              (clickEvent)="handleTable($event)"></data-table>
          </div>
        </div>
        <div class="card" *ngIf="tab == 'routes'">
          <div class="card-body">
            <data-table *ngIf="tableInfoRoutes" [tableInfo]="tableInfoRoutes" [reload]="reloadTable"
              (clickEvent)="handleTable($event)"></data-table>
          </div>
        </div>
        <div class="card" *ngIf="tab == 'audit'">
          <div class="card-body">
            <data-table *ngIf="tableInfoAudits" [tableInfo]="tableInfoAudits" [reload]="reloadTable"
              (clickEvent)="handleTable($event)"></data-table>
          </div>
        </div>
      </div>
    </div>

    <ion-accordion-group class="hide-desktop" [value]="tab" (ionChange)="setTab($event)">
      <ion-accordion value="info">
        <ion-item slot="header" color="light">
          <ion-label class="group-title">
            <i class="mdi mdi-clipboard-text"></i> {{i18n.lang.DATA_INFO}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <app-event-form [_id]="_id"></app-event-form>
        </div>
      </ion-accordion>
      <ion-accordion value="categories">
        <ion-item slot="header" color="light">
          <ion-label class="group-title">
            <i class="mdi mdi-clipboard-text"></i> {{i18n.lang.CATEGORIES}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <data-table *ngIf="tableInfoCategories" [tableInfo]="tableInfoCategories" [reload]="reloadTable"
            (clickEvent)="handleTable($event)"></data-table>
        </div>
      </ion-accordion>
      <ion-accordion value="routes">
        <ion-item slot="header" color="light">
          <ion-label class="group-title">
            <i class="mdi mdi-routes"></i> {{i18n.lang.ROUTES}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <data-table *ngIf="tableInfoRoutes" [tableInfo]="tableInfoRoutes" [reload]="reloadTable"
            (clickEvent)="handleTable($event)"></data-table>
        </div>
      </ion-accordion>
      <ion-accordion value="subscriptions">
        <ion-item slot="header" color="light">
          <ion-label class="group-title">
            <i class="mdi mdi-account-group"></i> {{i18n.lang.SUBSCRIPTIONS}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <data-table *ngIf="tableInfoSubscriptions" [tableInfo]="tableInfoSubscriptions" [reload]="reloadTable"
            (clickEvent)="handleTable($event)"></data-table>
        </div>
      </ion-accordion>
      <ion-accordion value="audit">
        <ion-item slot="header" color="light">
          <ion-label class="group-title">
            <i class="mdi mdi-playlist-check"></i> {{i18n.lang.AUDIT}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <data-table *ngIf="tableInfoAudits" [tableInfo]="tableInfoAudits" [reload]="reloadTable"
            (clickEvent)="handleTable($event)"></data-table>
        </div>
      </ion-accordion>
    </ion-accordion-group>

  </div>
</ion-content>