<ion-content [fullscreen]="true">
  <div class="page-layout">
    <h3 class="page-title">{{event?.name}}<br>
      <small>...</small>
    </h3>


    <div class="tabs hide-mobile">
      <div class="tabs-btns">
        <button [ngClass]="{active: tab == 'info'}" (click)="setTab('info')">
          <i class="mdi mdi-clipboard-text"></i> {{i18n.lang.DATA_INFO}}
        </button>
        <button [ngClass]="{active: tab == 'categories'}" (click)="setTab('categories')">
          <i class="mdi mdi-clipboard-text"></i> {{i18n.lang.CATEGORIES}}
        </button>
        <button [ngClass]="{active: tab == 'athletes'}" (click)="setTab('athletes')">
          <i class="mdi mdi-account-group"></i> {{i18n.lang.ATHLETES}}
        </button>
        <button [ngClass]="{active: tab == 'audit'}" (click)="setTab('audit')">
          <i class="mdi mdi-playlist-check"></i> {{i18n.lang.AUDIT}}
        </button>
      </div>
      <div class="tabs-place">
        <div class="card" *ngIf="tab == 'info'">
          <app-event-form [_id]="_id"></app-event-form>
        </div>
        <div class="card" *ngIf="tab == 'athletes'">
          <div class="card-body">
            <data-table *ngIf="tableInfoAthletes" [tableInfo]="tableInfoAthletes" [reload]="reloadTable"
              (clickEvent)="handleTable($event)"></data-table>
          </div>
        </div>
        <div class="card" *ngIf="tab == 'audit'">
          <div class="card-body">
            <data-table *ngIf="tableInfoAudits" [tableInfo]="tableInfoAudits" [reload]="reloadTable"
              (clickEvent)="handleTable($event)"></data-table>
          </div>
        </div>
      </div>
    </div>

    <ion-accordion-group class="hide-desktop" [value]="tab" (ionChange)="setTab($event)">
      <ion-accordion value="info">
        <ion-item slot="header" color="light">
          <ion-label class="group-title">
            <i class="mdi mdi-clipboard-text"></i> {{i18n.lang.DATA_INFO}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <app-event-form [_id]="_id"></app-event-form>
        </div>
      </ion-accordion>
      <ion-accordion value="athletes">
        <ion-item slot="header" color="light">
          <ion-label class="group-title">
            <i class="mdi mdi-account-group"></i> {{i18n.lang.ATHLETES}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <data-table *ngIf="tableInfoAthletes" [tableInfo]="tableInfoAthletes" [reload]="reloadTable"
            (clickEvent)="handleTable($event)"></data-table>
        </div>
      </ion-accordion>
      <ion-accordion value="audit">
        <ion-item slot="header" color="light">
          <ion-label class="group-title">
            <i class="mdi mdi-playlist-check"></i> {{i18n.lang.AUDIT}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <data-table *ngIf="tableInfoAudits" [tableInfo]="tableInfoAudits" [reload]="reloadTable"
            (clickEvent)="handleTable($event)"></data-table>
        </div>
      </ion-accordion>
    </ion-accordion-group>

  </div>
</ion-content>