<ion-content [fullscreen]="true">
  <div class="page-layout">
    <h3 class="page-title">{{i18n.lang.ROLES}}<br>
      <small>{{i18n.lang.ROLES_REGISTERED_TO_APP}}</small>
    </h3>
    <ion-button class="btn-add" (click)="handleTable({action: 'new'})">
      <i class="mdi mdi-plus"></i>
      <span class="text"> {{i18n.lang.NEW_ROLE}}</span>
    </ion-button>
    <div class="content">
      <div class="card">
        <div class="card-body">
          <data-table *ngIf="tableInfo" [tableInfo]="tableInfo" [reload]="reloadTable"
            (clickEvent)="handleTable($event)"></data-table>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-modal id="modalRole" #modalRole>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="closeModal()">{{i18n.lang.CANCEL}}</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="saveForm()" [strong]="true">{{i18n.lang.CONFIRM}}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <form #RoleForm="ngForm" novalidate>
        <!-- <pre>{{RoleForm.value | json}}</pre> -->
        <input type="hidden" name="_id" ngModel #_id="ngModel">
        <div class="section">
          <h4 class="section-title">{{i18n.lang.BASIC_DATA}}</h4>
          <div class="section-body">
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label for="slug" position="stacked">{{i18n.lang.SLUG}}*</ion-label>
                  <ion-input type="text" name="slug" ngModel required #slug="ngModel"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size-xs="12">
                <app-autocomplete [data]="arr_permissions" [ionlabel]="i18n.lang.SEARCH_PERMISSION+'*'" [label]="'_id'"
                  [_id]="'_id'" (chooseEvent)="setPermission($event?._id)" [clear]="clearEvent"
                  *ngIf="RoleForm.value._id">
                </app-autocomplete>
              </ion-col>
              <ion-col size-xs="12" *ngIf="RoleForm.value._id">
                <div class="scroll">
                  <table class="table dataTable">
                    <thead>
                      <tr>
                        <th>Permissão</th>
                        <th>Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="!_permissions?.length">
                        <td colspan="2">{{i18n.lang.EMPTY_TABLE}}</td>
                      </tr>
                      <ng-template ngFor let-it [ngForOf]="_permissions">
                        <tr>
                          <td>{{it?.slug}}</td>
                          <td class="td-actions">
                            <button class="danger" (click)="rmPermission(it)"><i class="mdi mdi-close"></i></button>
                          </td>
                        </tr>
                      </ng-template>
                    </tbody>
                  </table>
                </div>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>