ion-modal {
    &::part(content) {
        height: 600px;
        max-height: 600px;
    }
}

.scroll {
    max-height: 300px;
    overflow-y: auto;
}

.td-actions {
    button {
        background: var(--ion-color-danger);
        color: var(--ion-color-danger-contrast);
    }
}