<div class="card taf-indices" [attr.id]="id" *ngIf="tafIndices">
  <h4 class="card-title t-center">{{tafIndices?.sexo}} -
    {{tafIndices?.faixa_etaria?.min}}
    a
    {{tafIndices?.faixa_etaria?.max}} anos</h4>
  <div class="grid">

    <div class="exercicio corrida">
      <img src="assets/imgs/tabela-taf/corrida.svg " alt="corrida">
      <table class="dataTable">
        <thead>
          <tr>
            <th class="t-center" colspan="2">Corrida (1600m)</th>
          </tr>
          <tr>
            <th>Pontos</th>
            <th>Tempo</th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-it let-i="index" [ngForOf]="tafIndices?.corrida">
            <tr>
              <td>{{i}}</td>
              <td> <span *ngIf="i==0">&gt;&#61;</span> {{it}}
                <span *ngIf="i>0">- {{descontoIndice(tafIndices?.corrida[i-1])}} </span>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>

    <div class="exercicio flexoes">
      <img src="assets/imgs/tabela-taf/flexão.svg " alt="flexão">
      <table class="dataTable">
        <thead>
          <tr>
            <th class="t-center" colspan="2">Flexões</th>
          </tr>
          <tr>
            <th>Pontos</th>
            <th>Mín. Reps</th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-it let-i="index" [ngForOf]="tafIndices?.flexoes">
            <tr>
              <td>{{i}}</td>
              <td> {{it}}</td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
    <div class="exercicio abdominais">
      <img src="assets/imgs/tabela-taf/abdominal.svg " alt="abdominal">
      <table class="dataTable">
        <thead>
          <tr>
            <th class="t-center" colspan="2">Abdominais</th>
          </tr>
          <tr>
            <th>Pontos</th>
            <th>Mín. Reps</th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-it let-i="index" [ngForOf]="tafIndices?.abdominais">
            <tr>
              <td>{{i}}</td>
              <td>{{it}}</td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>

    <div class="exercicio barras inline">
      <img src="assets/imgs/tabela-taf/barra.svg " alt="barras">
      <table class="dataTable">
        <thead>
          <tr>
            <th class="t-center" colspan="2">Barra Fixa</th>
          </tr>
          <tr>
            <th>Pontos</th>
            <th>Mín. Reps</th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-it let-i="index" [ngForOf]="tafIndices?.barras">
            <tr>
              <td>{{i}}</td>
              <td>{{it}}</td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>

    <div class="exercicio natacao">
      <table class="dataTable">
        <thead>
          <tr>
            <th class="t-center" colspan="2">Natação (100m)</th>
          </tr>
          <tr>
            <th>Pontos</th>
            <th>Tempo</th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-it let-i="index" [ngForOf]="tafIndices?.natacao">
            <tr>
              <td>{{i}}</td>
              <td>
                <span *ngIf="i==0">&gt;&#61;</span> {{it}}
                <span *ngIf="i>0">- {{descontoIndice(tafIndices?.natacao[i-1])}} </span>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </table>
      <img src="assets/imgs/tabela-taf/natação.svg " alt="natacao">
    </div>
  </div>
  <span class="tut">* Arraste para ver todos os exercicios</span>
  <img src="assets/imgs/tabela-taf/detalhe sup.svg " alt="sup" class="sup">
  <img src="assets/imgs/tabela-taf/detsup.svg " alt="detsup" class="detsup">
  <img src="assets/imgs/tabela-taf/detalhe inf.svg" alt="inf" class="inf">
  <img src="assets/imgs/tabela-taf/detinf.svg" alt="detinf" class="detinf">
</div>