@font-face {
    font-family: 'Impact Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Impact Regular'), url('/assets/baseorient/fonts/impact.woff') format('woff');
}


@font-face {
    font-family: 'Impact Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Impact Regular'), url('/assets/baseorient/fonts/unicode.impact.woff') format('woff');
}


@font-face {
    font-family: 'Impacted Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Impacted Regular'), url('/assets/baseorient/fonts/Impacted.woff') format('woff');
}