.page-layout {
    max-width: 1340px;
}

.card-not {
    position: relative;
    background: var(--ion-color-light);
    border-radius: 8px;
    padding: 8px;
    padding-left: 16px;
    margin-bottom: 8px;
    box-shadow: 0 0 6px var(--ion-color-medium);

    &:before {
        content: " ";
        width: 8px;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        border-radius: 8px 0 0 8px;


    }

    p {
        margin: 0;
        font-size: 1em;

        small {
            opacity: .5;
        }

        &.date {

            font-size: 0.8em;
            margin-top: 8px;
        }
    }

    .badge {
        position: absolute;
        bottom: 8px;
        right: 8px;
    }

    &.neg::before {
        background: var(--ion-color-danger);
    }

    &.pos::before {
        background: var(--ion-color-success);
    }

}