.floating-buttons {
  z-index: 9999;

  .container {
    position: relative;

    .actions {
      pointer-events: none;

      &.active {
        pointer-events: initial;
      }
    }
  }

  ion-button {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    --border-radius: 50%;
    width: 48px;
    height: 48px;
    transition: all 0.2s ease-in-out;
    z-index: 99;

    overflow: visible;
    --overflow: visible;

    span {
      position: absolute;
      top: 16px;
      right: 42px;
      opacity: 0;
      transition: all 0.2s ease-in-out;
      background: var(--ion-color-light);
      color: var(--ion-color-light-contrast);
      font-size: .8em;
      padding: 2px 4px;

      &.show {
        opacity: 1;
      }
    }

    i {
      transition: all 0.4s ease-in-out;
      position: absolute;
      top: 10px;
      left: -4px;
      right: 0;
      fill: var(--ion-white);
      font-size: 26px;

      &.hide {
        opacity: 0;
        transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
      }
    }

    &.disabled {
      filter: grayscale(1) brightness(2.5);
    }
  }
}

@media screen and (max-width: 768px) {
  .floating-buttons {
    position: fixed;
    bottom: 32px;
    right: 32px;
  }
}